.boxes {
  display: flex;
  height: 180px;
  width: 180px;
  background: grey;
  border: 4px solid;
  border-radius: 12px;
  cursor: pointer;
}
.board {
  height: 600px;
  width: 560px;
  display: flex;
  margin: auto;
}
.boxes img {
  margin: 10px;
}
.title img {
  height: 50px;
  width: 50px;
}
.square-image {
  width: 140px;
  height: 140px;
}
